{
  "parser": "babel-eslint",
  "env": {
      "browser": true
  },
  "plugins": [
      "react"
  ],
  "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
  ],
  "rules": {
    "strict": [0, "global"],
    "func-names": 0,
    "object-shorthand": 0,
    "prefer-template": 0,
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 2,
    "react-native/no-color-literals": 2,
    "comma-dangle": ["error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
    }]
  }
}